@use '@/styles/mixins' as *;
@import '@/styles/rem';

.draggable-container {
  /* 기본적으로 992px 이상(PC)에서는 부모 CSS(클래스)의 레이아웃을 따르도록 둠 */

  /* 모바일 환경 (991px 이하)에서 가로 스크롤 및 드래그 활성화 */
  @media (max-width: 991px) {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap; /* 자식 요소들이 줄바꿈되지 않고 가로로 나열되도록 강제 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scroll-behavior: smooth;
    padding: rem(32) rem(32) rem(72) rem(32);
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }

    cursor: grab;

    &.active {
      cursor: grabbing;
      scroll-behavior: auto;
    }

    /* 자식 요소들이 줄어들지 않도록 설정 (필요시 사용) */
    > * {
      flex-shrink: 0;
    }
  }
}
