@use '@/styles/mixins/index' as *;
@import '@/styles/rem';

.selectbox-container {
  position: relative;
  display: block;
}

.trigger-btn {
  @include flexBox(flex, start, center, row, rem(4));
  @include font-style(13, 700, rem(18));
  width: 100%;
  height: rem(40);
  padding: 0 rem(12);
  border: rem(1) solid var(--color-semantic-line-normal-light);
  border-radius: rem(4);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;

  .icon {
    @include svgBox(rem(16));
    min-width: rem(16);

    &.open {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: rgba(13, 13, 14, 0.05);
  }
}

.dropdown-panel {
  position: absolute;
  top: calc(100% + #{rem(4)});
  left: 0;
  background-color: var(--color-token-white);
  border: rem(1) solid var(--color-semantic-line-normal-light);
  border-radius: rem(4);
  overflow: hidden;
  box-shadow: var(--shadow-strong);
  z-index: 100;
}

.dropdown-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: rem(4);
    height: rem(40);
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 90%
    );
    pointer-events: none;
    opacity: 1;
  }
}

.dropdown-list {
  display: grid;
  gap: rem(8);
  padding: rem(8) rem(16) rem(16) rem(24);
  margin: rem(8) rem(8) 0 0;
  max-height: rem(332);
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  height: 100%;

  &::-webkit-scrollbar {
    width: rem(4);
    height: auto;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-token-gray-20);
  }
}

.divider-line {
  width: 100%;
  height: rem(1);
  background-color: var(--color-semantic-line-normal-light);
}

.dropdown-item {
  @include flexBox(flex, start, center);
  padding: rem(4) rem(8);
  min-height: rem(40);
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-width: rem(200);
  box-sizing: border-box;

  &:hover {
    .checkbox-wrap {
      border-color: var(--color-semantic-label-disable-light);
    }
  }

  .checkbox-label {
    @include flexBox(flex, start, center, row, rem(8));
    @include font-style(13, 700, rem(18));
    cursor: pointer;
    margin: 0;
    pointer-events: none;
  }

  .checkbox-wrap {
    width: rem(20);
    min-width: rem(20);
    height: rem(20);
    border: rem(1) solid var(--color-line-normal);
    box-sizing: border-box;
    border-radius: rem(4);
    @include flexBox(flex, center, center);
    transition: border-color 0.1s ease-in-out;

    &.active {
      background-color: var(--color-label-normal);
      color: var(--color-token-white);
    }

    .svg-box {
      @include svgBox(rem(12));
    }
  }
}

.dropdown-footer {
  @include flexBox(flex, end, center, row, rem(8));
  padding: 0 rem(16) rem(16);
  background-color: var(--color-token-white);

  .reset-btn {
    @include font-style(13, 400, rem(18));
    height: rem(40);
    padding: 0 rem(12);
    box-sizing: border-box;
    border: rem(1) solid var(--color-semantic-line-normal-light);
    border-radius: rem(4);
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover {
      background-color: rgba(13, 13, 14, 0.05);
    }
  }

  .apply-btn {
    @include font-style(13, 700, rem(18));
    height: rem(40);
    padding: 0 rem(12);
    box-sizing: border-box;
    border-radius: rem(4);
    cursor: pointer;
    background-color: var(--color-label-normal);
    color: var(--color-token-white);
  }
}
