@use '@/styles/mixins/index' as *;
@import '@/styles/rem';

.sort-selectbox-container {
  position: relative;
  display: inline-block;
}

.trigger-btn {
  @include flexBox(flex, end, center, row, rem(4));
  @include font-style(13, 700, rem(18));
  padding: rem(4);
  margin: rem(-4);
  border-radius: rem(4);
  box-sizing: border-box;
  background-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  white-space: nowrap;

  .icon {
    @include svgBox(rem(16));
    min-width: rem(16);

    &.open {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: rgba(13, 13, 14, 0.05);
  }
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 4px);
  right: 0; /* 우측 정렬을 위해 적용 (0px 대신 rem(0)) */
  width: max-content;
  min-width: 100%;
  background-color: #fff;
  border: rem(1) solid var(--color-semantic-line-normal-light);
  border-radius: rem(4);
  z-index: 100;
  margin: 0; /* 0px 대신 rem(0) */
  list-style: none;
}

.dropdown-item {
  @include flexBox(flex, start, center);
  @include font-style(13, 700, rem(18));
  min-width: rem(118);
  height: rem(40);
  padding: 0 rem(12);
  box-sizing: border-box;
  color: var(--color-label-weak);
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(13, 13, 14, 0.05);
  }

  &.selected {
    color: var(--color-label-normal);
  }
}
