@use '@/styles/mixins/index' as *;
@import '@/styles/rem';

.content-container {
  display: grid;
  grid-template-columns: rem(248) 1fr;
  gap: rem(64);
  padding: rem(56) 0;
  box-sizing: border-box;
}

.left-aside {
  display: grid;
  gap: rem(32);
  align-content: flex-start;
}

.ad-list-container {
  display: grid;
  gap: rem(12);
}

.line {
  display: block;
  width: 100%;
  height: rem(1);
  background-color: var(--color-line-divider);
}

.sticky-container {
  display: grid;
  grid-template-columns: 100% auto;
  gap: rem(40);
}

.main-content {
  display: grid;
  align-content: flex-start;
}

.sticky-wrap {
  padding-top: rem(50);

  .sticky-content {
    position: sticky;
    top: rem(24);
    display: grid;
    gap: rem(8);
    padding-right: rem(24);

    &.list {
      position: unset;
    }

    .favorite-modal-btn {
      width: rem(56);
      min-width: rem(56);
      height: rem(56);
      @include font-style(12, 400, rem(16));
      white-space: nowrap;
      border-radius: rem(4);
      display: grid;
      gap: rem(2);
      transition: background-color 0.15s ease;

      &:hover {
        background-color: var(--color-line-divider);
      }

      .svg-box {
        @include svgBox(rem(20));

        > svg {
          > path {
            fill: var(--color-label-normal);
          }
        }
      }

      .text-box {
        > span {
          color: var(--color-point-heydealer);
          font-weight: 700;
        }
      }
    }

    .line {
      width: 100%;
      height: rem(1);
      background-color: var(--color-line-divider);
    }
  }
}

.favorite-modal-body {
  padding: 0 rem(32) rem(32);
}

.favorite-result-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: rem(24);
}
