@use '@/styles/mixins/index' as *;
@import '@/styles/rem';

.content-container {
  display: grid;
  grid-template-columns: rem(248) 1fr;
  gap: rem(64);
  padding: rem(56) 0;
  box-sizing: border-box;
}

.left-aside {
  display: grid;
  gap: rem(32);
  align-content: flex-start;
}

.ad-list-container {
  display: grid;
  gap: rem(12);
}

.line {
  display: block;
  width: 100%;
  height: rem(1);
  background-color: var(--color-line-divider);
}

.sticky-container {
  display: grid;
  grid-template-columns: 100% auto;
  gap: rem(40);
}

.main-content {
  display: grid;
  align-content: flex-start;
}

.sticky-wrap {
  padding-top: rem(50);

  .sticky-content {
    position: sticky;
    top: rem(24);
    display: grid;
    gap: rem(8);
    padding-right: rem(24);

    &.list {
      position: unset;
    }

    .favorite-modal-btn {
      width: rem(56);
      min-width: rem(56);
      height: rem(56);
      @include font-style(12, 400, rem(16));
      white-space: nowrap;
      border-radius: rem(4);
      display: grid;
      gap: rem(2);
      transition: background-color 0.15s ease;

      &:hover {
        background-color: var(--color-line-divider);
      }

      .svg-box {
        @include svgBox(rem(20));

        > svg {
          > path {
            fill: var(--color-label-normal);
          }
        }
      }

      .text-box {
        > span {
          color: var(--color-point-heydealer);
          font-weight: 700;
        }
      }
    }

    .line {
      width: 100%;
      height: rem(1);
      background-color: var(--color-line-divider);
    }
  }
}

.favorite-modal-body {
  padding: 0 rem(32) rem(32);
}

.favorite-result-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: rem(24);

  > div {
    margin-right: unset !important;
  }
}

.modal-overlay {
  /* PC에서는 모달 배경이 아니라 일반 레이아웃처럼 보이도록 설정 */
  position: static;
  height: auto;
  background-color: transparent;
  z-index: 1;
}

@media (max-width: rem(1500)) {
  .content-container {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .left-aside {
    //display: none;
    position: absolute;
  }

  .ad-list-container {
    display: none;
  }

  .modal-overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999999;

    display: flex;
    align-items: flex-end;

    /* 💡 기본적으로 숨김 처리 */
    opacity: 0;
    pointer-events: none;

    /* 💡 .active 클래스가 붙으면 화면에 표시 */
    &.active {
      opacity: 1;
      pointer-events: auto;

      .modal-content {
        transform: translate(0, 0);
      }
    }
  }

  .modal-content {
    transform: translateY(100%);
    width: 100%;
    border-radius: rem(16) rem(16) 0 0;
    background-color: var(--color-token-white);
    overflow: hidden;
    transition: transform 0.25s linear;
  }

  .sticky-wrap {
    display: none;
  }
}
