@use '@/styles/mixins/index' as *;
@import '@/styles/rem';

.marquee-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  background-color: rgb(39, 46, 64);
  white-space: nowrap;
  height: rem(36);
  position: relative;
  margin-top: rem(1);

  > div {
    width: auto !important;

    > div {
      min-width: auto !important;
    }
  }

  &::after {
    position: absolute;
    content: '';
    z-index: 2;
    pointer-events: none;
    height: 100%;
    width: 20%;
    background: linear-gradient(
      90deg,
      rgb(39, 46, 64) 0%,
      rgba(39, 46, 64, 0) 100%
    );
  }

  &::before {
    position: absolute;
    content: '';
    z-index: 2;
    pointer-events: none;
    height: 100%;
    width: 20%;
    right: 0;
    background: linear-gradient(
      90deg,
      rgb(39, 46, 64) 0%,
      rgba(39, 46, 64, 0) 100%
    );
    transform: scale(-1);
  }
}

.marquee-track {
  display: flex;
}

.marquee-list {
  @include flexBox(flex, start, center);
}

.marquee-item {
  @include font-style(13, 700, rem(22));
  color: rgba(255, 255, 255, 0.7);
  padding-right: rem(140);

  .bold {
    color: var(--color-token-white);
  }
}

@media (max-width: rem(1500)) {
  .marquee-container {
    display: none;
  }
}
