@use '@/styles/mixins' as *;
@import '@/styles/rem';

.section-content {
  padding: rem(40) rem(24);
  box-sizing: border-box;
  background-color: var(--color-token-white);
}

.content-wrap {
  //display: grid;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  //justify-items: flex-start;
  text-align: left;

  .text-wrap {
    @include font-style(20, 700, rem(32));
    color: rgb(16, 19, 26);
  }
}
