@use '@/styles/mixins/index' as *;
@import '@/styles/rem';

.certification-bar {
  @include flexBox(flex, start, center, row, rem(12));
  background-color: rgb(39, 46, 64);
  color: var(--color-token-white);
  padding: rem(8) rem(20);
  border-radius: 0 0 rem(4) rem(4);
  box-sizing: border-box;

  .icon {
    @include flexBox(flex, start, center, row, rem(3));
    @include font-style(13, 700, rem(18));
  }

  .svg-box {
    @include svgBox(rem(70));
    padding-top: rem(4);
  }

  .line {
    width: rem(1);
    height: rem(10);
    background-color: var(--color-line-normal);
  }

  .tags-container {
    @include font-style(13, 400, rem(18));
  }
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) rem(320);
  gap: rem(72);
  padding: rem(72) 0;

  .detail-container {
    display: grid;
    gap: rem(64);
  }

  .sticky-container {
    .sticky-wrap {
      position: sticky;
      top: rem(24);
      display: grid;
      gap: rem(24);
      align-content: start;
    }
  }
}

.content-wrap {
  display: grid;
  gap: rem(24);

  .modal-button {
    @include font-style(15, 400, rem(22));
  }
}

.section-info {
  display: flex;
  gap: rem(24) rem(16);

  &.single {
  }

  &.mobile {
    display: none;
  }

  .sub-title {
    @include flexBox(flex, start, center, row, rem(8));
    @include font-style(15, 700, rem(22));
  }

  .sub-text {
    @include font-style(15, 400, rem(22));
  }

  .data-grid {
    display: grid;
    grid-template-columns: repeat(2, rem(324));
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    column-gap: rem(24);
    row-gap: rem(8);
    justify-content: space-between;

    &.column {
      grid-template-rows: repeat(2, auto);
    }

    &.info {
      grid-template-rows: repeat(3, auto);
    }
  }

  .sub-content {
    display: grid;
    gap: rem(8);
  }

  .recommend-info {
    display: grid;
    gap: rem(8);
    padding: rem(16);
    box-sizing: border-box;
    border-radius: rem(4);
    background-color: var(--color-line-divider);
    @include font-style(15, 400, rem(22));

    .sub-title {
      .svg-box {
        @include svgBox(rem(20));
      }
    }

    .recommend-detail {
      white-space: pre-wrap;
    }
  }

  .guarantee-wrap {
    display: grid;
    gap: rem(32);
    width: 100%;

    .guarantee-info {
      display: grid;
      gap: rem(16);
      width: 100%;

      .text-info {
        @include flexBox(flex, space-between, center, row, rem(8));
        @include font-style(15, 400, rem(22));
        width: 100%;
        color: var(--color-label-weak);
      }

      .percent-info {
        width: 100%;
        height: rem(4);
        background-color: var(--color-semantic-line-normal-light);
        border-radius: rem(100);
        overflow: hidden;

        .bar {
          width: 36.653%;
          will-change: auto;
          height: 100%;
          background-color: var(--color-label-normal);
        }
      }
    }
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(12);

    &.scratch {
      grid-template-columns: repeat(4, 1fr);
      gap: rem(8);

      .image-container {
        aspect-ratio: 4 / 3;

        .img-wrap {
          aspect-ratio: 4 / 3;
        }
      }
    }
  }

  .image-container {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;

    .img-wrap {
      width: 100%;
      aspect-ratio: 16 / 9;
      transform: unset;
      overflow: hidden;
      @include flexBox(flex, center, center);
      border-radius: rem(4);
      cursor: pointer;

      &:hover {
        > img {
          transform: scale(1.05);
        }
      }

      > img {
        position: unset !important;
        width: auto !important;
        transition: transform 0.3s ease-in-out;
      }
    }

    .img-title {
      position: absolute;
      bottom: rem(8);
      right: rem(8);
      @include font-style(12, 500, rem(16));
      color: var(--color-token-white);
    }
  }
}

.section-line {
  display: block;
  width: 100%;
  height: rem(1);
  background-color: var(--color-line-divider);
}

.content-line {
  display: block;
  width: 100%;
  height: rem(1);
  background-color: var(--color-line-divider);
}

.mobile-content-line {
  display: none;
}

.sticky-content {
  padding: rem(24);
  box-sizing: border-box;
  border: rem(1) solid var(--color-line-divider);
  border-radius: rem(4);
  box-shadow: var(--shadow-normal);
  display: grid;
  gap: rem(24);
}

.main-info {
  display: grid;
  gap: rem(8);

  .info-header {
    @include flexBox(flex, space-between, center);

    .price {
      @include font-style(20, 700, rem(28));
      color: var(--color-point-heydealer);
    }

    .favorite-button-wrap {
      position: unset;

      > button {
        color: var(--color-semantic-label-disable-light);

        > div {
          width: rem(24) !important;

          > svg {
            path {
              fill: transparent;
            }
          }
        }
      }
    }
  }

  .origin-price {
    @include font-style(13, 400, rem(18));
    color: var(--color-semantic-label-disable-light);
  }
}

.detail-info {
  display: grid;
  gap: rem(20);

  .detail-price {
    display: grid;
    gap: rem(8);

    .detail-title {
      @include font-style(13, 700, rem(18));
      margin-bottom: rem(4);
    }

    .mobile-price-list {
      display: none;
      @include font-style(13, 400, rem(18));
    }

    .price-list {
      @include font-style(13, 400, rem(18));
    }

    .list {
      @include flexBox(flex, space-between, center);
      height: rem(24);
      width: 100%;

      .label {
        color: var(--color-label-weak);
      }

      .price {
        word-break: keep-all;
        display: flex;
        gap: rem(8);

        > del {
          @include font-style(13, 400, rem(18));
          color: var(--color-token-gray-60);
        }
      }
    }

    .total-price {
      @include font-style(13, 700, rem(18));
      text-align: right;
    }
  }
}

.info-modal-button {
  padding: rem(12);
  box-sizing: border-box;
  border-radius: rem(4);
  background-color: #396eff0a;
  @include flexBox(flex, space-between, center);

  .button-text {
    @include font-style(13, 700, rem(18));

    > span {
      color: var(--color-point-heydealer);
    }
  }
}

.mobile-button-title {
  display: none;
}

.button-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(8);

  .research-button {
    @include flexBox(flex, center, center);
    @include font-style(13, 400, rem(18));
    height: rem(40);
    padding: 0 rem(12);
    border: rem(1) solid var(--color-line-normal);
    border-radius: rem(4);
    box-sizing: border-box;
    text-align: center;

    .mobile-text {
      display: none;
    }
  }
}

.reserve-button {
  @include flexBox(flex, center, center);
  @include font-style(15, 700, rem(22));
  height: rem(52);
  padding: 0 rem(12);
  border: rem(1) solid var(--color-line-normal);
  border-radius: rem(4);
  box-sizing: border-box;
  text-align: center;
  background-color: var(--color-point-heydealer);
  color: var(--color-token-white);
}

.main-sticky-container {
  display: grid;
  grid-template-columns: 100% auto;
  row-gap: 0;
  column-gap: rem(40);
}

.main-content {
  display: grid;
  align-content: flex-start;
}

.video-wrap {
  width: 100%;
}

.favorite-sticky-wrap {
  padding-top: rem(24);

  .sticky-favorite-content {
    position: sticky;
    top: rem(24);
    display: grid;
    gap: rem(8);
    padding-right: rem(24);

    &.list {
      position: unset;
    }

    .favorite-modal-btn {
      width: rem(56);
      min-width: rem(56);
      height: rem(56);
      @include font-style(12, 400, rem(16));
      white-space: nowrap;
      border-radius: rem(4);
      display: grid;
      gap: rem(2);
      transition: background-color 0.15s ease;

      &:hover {
        background-color: var(--color-line-divider);
      }

      .svg-box {
        @include svgBox(rem(20));

        > svg {
          > path {
            fill: var(--color-label-normal);
          }
        }
      }

      .text-box {
        > span {
          color: var(--color-point-heydealer);
          font-weight: 700;
        }
      }
    }

    .line {
      width: 100%;
      height: rem(1);
      background-color: var(--color-line-divider);
    }
  }
}

.content-wrap {
  display: grid;
  gap: rem(24);
  align-content: flex-start;

  .qr-section {
    @include flexBox(flex, space-between, center, row, rem(4));
    padding: rem(16) rem(20);
    box-sizing: border-box;
    border: rem(1) solid var(--color-line-divider);
    border-radius: rem(4);

    .qr-text-info {
      display: grid;
      gap: rem(8);
      color: var(--color-semantic-label-middle-light);

      .app-guide-text {
        @include font-style(13, 700, rem(18));
      }

      .qr-guide-text {
        @include font-style(11, 400, rem(14));
      }
    }

    .svg-box {
      @include svgBox(rem(96));
    }
  }

  .chat-button-wrap {
    @include flexBox(flex, end, start);
    width: 100%;

    .chat-contact {
      @include flexBox(flex, start, center, row, rem(8));
      @include font-style(13, 700, rem(18));
      padding: rem(8) rem(16) rem(8) rem(8);
      box-sizing: border-box;
      border-radius: rem(112);
      height: rem(56);
      background-color: var(--color-token-white);
      box-shadow: var(--shadow-strong);
      white-space: nowrap;
      transition: all 0.2s ease;

      &:hover {
        background-color: rgba(13, 13, 14, 0.05);
      }

      .chat-profile-img {
        width: rem(44);
        height: rem(40);
        @include flexBox(flex, center, start);
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: rem(-2);
          right: rem(-2);
          width: rem(8);
          height: rem(8);
          background-color: var(--color-point-heydealer);
          border-radius: rem(50);
          border: rem(2) solid var(--color-token-white);
        }
      }

      .img-wrap {
        width: 100%;
        max-width: rem(40);
        min-width: rem(40);
        border-radius: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        border: rem(2) solid var(--color-line-divider);
      }
    }
  }
}

.favorite-modal-body {
  padding: 0 rem(32) rem(32);
}

.favorite-result-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: rem(24);

  > div {
    margin-right: unset !important;
  }
}

.mobile-button-wrap {
  display: none;
  position: fixed;
  left: rem(8);
  top: rem(8);
  border-radius: rem(100);
  transition: all 0.3s ease-in-out;

  &.active {
    background-color: var(--color-token-white);
    box-shadow: var(--shadow-normal);
  }

  .back-link {
    @include flexBox(flex, center, center);
    width: rem(40);
    height: rem(40);
  }

  .back-box {
    @include svgBox(rem(20));
  }
}

.mobile-total-price-modal {
  display: none;
}

//@media (max-width: rem(1500)) {
//  .main-sticky-container {
//    grid-template-columns: 1fr auto;
//  }
//}

@media (max-width: rem(1500)) {
  .main-sticky-container {
    grid-template-columns: 1fr;
  }

  .favorite-sticky-wrap {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;
    padding: rem(40) 0;

    .detail-container {
      gap: rem(40);
    }
  }

  .connect-section {
    padding: 0;
  }

  .section-info {
    display: grid;
    padding: 0 rem(24);
    box-sizing: border-box;

    &.single {
      padding: 0;
    }

    &.pc {
      display: none;
    }

    &.mobile {
      display: block;
    }

    .data-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-auto-flow: unset;
    }

    .image-grid {
      &.scratch {
        grid-template-columns: repeat(3, 1fr);

        .image-container {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  .section-line {
    height: rem(4);

    &.pc {
      display: none;
    }
  }

  .sticky-container {
    &.pc {
      display: none;
    }
  }

  .certification-bar {
    border-radius: 0;
  }

  .content-wrap {
    .qr-section {
      display: none;
    }
    .chat-button-wrap {
      display: none;
    }
    .sticky-content {
      padding: unset;
      border: unset;
      border-radius: 0;
      box-shadow: unset;

      .content-line {
        display: none;
      }

      .mobile-content-line {
        display: block;
        width: 100%;
        height: rem(1);
        background-color: var(--color-line-divider);
      }
    }
    .reserve-button {
      display: none;
    }
    .total-price {
      display: none;
    }
    .main-info {
      display: none;
    }
    .detail-info {
      .detail-price {
        gap: rem(16);

        .detail-title {
          @include font-style(20, 700, rem(28));
          margin-bottom: rem(8);
        }

        .mobile-price-list {
          display: block;
          @include font-style(15, 400, rem(22));
        }

        .price-list {
          @include font-style(15, 400, rem(22));
          gap: rem(8);
          display: grid;
        }

        .list {
          .price {
            > del {
              @include font-style(15, 400, rem(22));
            }
          }
        }
      }
    }

    .mobile-button-title {
      display: block;
      @include font-style(15, 700, rem(22));
    }

    .button-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(8);

      .research-button {
        @include flexBox(flex, start, start, column, rem(4));
        @include font-style(12, 700, rem(16));
        height: rem(62);
        padding: rem(12) rem(16);
        color: var(--color-semantic-label-middle-light);
        box-shadow: var(--shadow-normal);

        .mobile-text {
          display: block;
          @include font-style(12, 400, rem(16));
          color: var(--color-label-weak);
        }
      }
    }
  }

  .mobile-total-price-modal {
    display: grid;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }

  .modal-button-wrap {
    width: 100%;
    padding: 0 rem(16) rem(12);
    box-sizing: border-box;
    z-index: 2;

    .info-modal-button {
      @include flexBox(flex, space-between, center);
      width: 100%;
      height: rem(40);
      padding: 0 rem(16);
      box-sizing: border-box;
      border-radius: rem(4);
      background-color: #f0f4ff;

      .button-forward {
        @include flexBox(flex, start, center, row, rem(8));
      }

      .button-icon {
        @include font-style(13, 400, rem(18));
      }

      .button-text {
        @include font-style(13, 700, rem(18));

        > span {
          color: var(--color-point-heydealer);
        }
      }

      .arrow-box {
        @include flexBox(flex, start, center, row, rem(4));
        @include font-style(12, 400, rem(16));
      }

      .svg-box {
        @include svgBox(rem(16));
        color: var(--color-label-weak);
        transform: rotate(-90deg);
      }
    }
  }

  .main-info {
    gap: rem(8);
    padding: rem(16);
    box-sizing: border-box;
    @include flexBox(flex, space-between, center);
    background-color: var(--color-token-white);
    box-shadow:
      0 rem(-4) rem(8) #272e400a,
      0 rem(8) rem(16) #272e4014;
    z-index: 2;

    .info-header {
      @include flexBox(flex, start, start, column, rem(4));

      .price {
        @include font-style(15, 700, rem(19));
        text-decoration: underline;
        text-underline-offset: rem(3);
      }

      .origin-price {
        @include font-style(12, 400, rem(16));
      }
    }

    .reserve-button {
      padding: 0 rem(24);
    }
  }
  .mobile-button-wrap {
    display: block;
  }
}
